.videoPlayer { 
    width:375px;
    height: 375px;
    position: fixed;
    z-index:1;
    left:50%;
    margin-left:-188px;
}

.camera {
    position: absolute;
}

.canvasWebGL{ 
    position: absolute;
    cursor:move;
}

.cover-view{
    position:fixed;
    z-index:2;
    width: 100%;
    bottom:15px;
    text-align: center;
    background-color: #999;
}

